/* General styles */
body {
  font-family: "Jost", sans-serif;
}

/* Main menu styles */
.my-main-menu {
  background-color: #ffffff;
  padding: 40px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.my-main-menu .site-title {
  margin-left: 40px;
  flex-shrink: 0;
  color: #003049;
}

.my-main-menu .menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.my-main-menu .my-navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-main-menu .my-navbar li {
  display: inline-block;
  margin-right: 20px;
}

.my-main-menu .my-navbar a {
  color: #3d3d3d;
  text-decoration: none;
  font-size: 20px;
}

.my-main-menu .my-navbar a:hover {
  color: #003049;
}

/* Responsive styles for main menu */
@media (max-width: 768px) {
  .my-main-menu {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .my-main-menu .site-title {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .my-main-menu .menu-container {
    width: 100%;
    justify-content: center;
  }

  .my-main-menu .my-navbar {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .my-main-menu .my-navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .my-main-menu .my-navbar a {
    font-size: 18px;
  }
}

/* Styles for post sections */
.title-post {
  margin-bottom: 3rem;
  text-align: center;
}

.container-post {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 70px;
  margin-top: 10px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.post-item {
  padding: 10px;
  transition: transform 0.3s ease;
}

.post-item:hover {
  transform: scale(1.05);
}

.card-project {
  transition: transform 0.3s ease;
}

.card-project:hover{
  transform: scale(1.05);
}

.btn-landing{
  transition: transform 0.3s ease;
}

.btn-landing:hover{
  transform: scale(1.05);
}

.post-content img {
  max-width: 100%;
  height: auto;
}

/* Styles for blog cards */
.card-blog-content img {
  max-width: 100%;
  height: auto;
}

.card-blog-item {
  transition: transform 0.3s ease;
}

.card-blog-item:hover {
  transform: scale(1.05);
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  transition: all 300ms ease;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card__cover {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card__body {
  padding: 20px;
}

.card__title {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card__desc {
  font-size: 12px;
  color: #858484;
  line-height: 1.6;
}

/* Responsive styles for blog cards */
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
  .card__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

/* Styles for footer */
.site-footer {
  display: none;
}

.footer-copyright {
  background-color: #00273b;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
}

.footer-copyright p {
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Hover effect for logo */
.site-logo a:hover {
  color: #005d8f8c;
}
